.confirmation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.btn {
  border-radius: 5px; /* Bordures arrondies */
  padding: 10px 20px; /* Plus d'espace à l'intérieur du bouton */
  font-weight: bold; /* Texte plus lisible */
  transition: background-color 0.3s, transform 0.3s; /* Animation douce */
}

.btn:hover {
  transform: scale(1.05); /* Légère augmentation de taille au survol */
}
.table {
  border-collapse: collapse; /* Élimine l'espace entre les bordures */
  width: 100%; /* Utilise toute la largeur disponible */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ajoute une ombre subtile */
}

.table th, .table td {
  text-align: left; /* Alignement du texte */
  padding: 8px; /* Espacement à l'intérieur des cellules */
}

.table th {
  background-color: #031b48; /* Couleur d'arrière-plan pour les en-têtes */
  color: white; /* Couleur du texte pour les en-têtes */
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur d'arrière-plan pour les lignes paires */
}

.card {
  background-color: #c0cad5; /* Couleur d'arrière-plan */
  border-radius: 8px; /* Bordures arrondies */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre subtile */
  margin-top: 20px; /* Espacement au-dessus de la carte */
}

.card-header {
  border-bottom: 1px solid #eeeeee; /* Ligne de séparation */
  background-color: #031b48; /* Couleur d'arrière-plan de l'en-tête */
  color: white; /* Couleur du texte */
  font-size: 20px; /* Taille du texte */
}

.card-body {
  padding: 20px; /* Espacement à l'intérieur de la carte */
}
/* Ajout d'une marge supérieure à la table pour la séparer de la navbar */
/* CSS pour ajouter de l'espace autour du spinner */
app-spinner {
display: block; /* ou 'flex' si vous souhaitez utiliser flexbox */
margin: 20px auto; /* ajoute de l'espace en haut et en bas, et centre horizontalement */
}

/* CSS pour la marge autour de la table */
.table-container {
margin-top: 20px; /* espace en haut */
margin-bottom: 20px; /* espace en bas */
}

/* CSS pour l'espace entre les boutons EDIT et DELETE */
#bttns button {
margin-right: 10px; /* espace entre les boutons */
}

/* CSS si vous avez besoin d'espacer les boutons lorsqu'ils sont empilés verticalement */
#bttns button:not(:last-child) {
margin-bottom: 10px;
}

/* CSS pour le style des boutons d'ajout et de suppression */
.btn-outline-primary, .btn-outline-danger {
margin-right: 10px; /* Espace entre les boutons */
margin-bottom: 10px; /* Espace sous les boutons si empilés verticalement */
}

/* Pour la partie du formulaire où l'utilisateur sélectionne les fichiers */
.file-upload {
display: block;
margin-bottom: 10px; /* Espace en dessous du champ de téléchargement de fichier */
}

/* Pour les champs de formulaire et les étiquettes */
.form-group label {
display: block;
margin-top: 10px; /* Espace au-dessus de l'étiquette */
}

.form-group input,
.form-group select {
margin-top: 5px; /* Espace au-dessus des champs de saisie et des menus déroulants */
}

/* Bouton pour ajouter des données */
.btn-success {
display: block;
width: 100%; /* Le bouton prend toute la largeur du conteneur */
margin-top: 10px; /* Espace au-dessus du bouton */
}

/* Adaptation pour les appareils mobiles */
@media (max-width: 768px) {
.btn-outline-primary, .btn-outline-danger {
  margin-right: 0; /* Pas d'espace entre les boutons sur les petits écrans */
  margin-bottom: 10px; /* Espace sous les boutons */
}

/* Les boutons et les entrées du formulaire peuvent s'empiler verticalement pour une meilleure lisibilité */
#bttns button {
  display: block;
  width: 100%; /* Les boutons prennent toute la largeur */
}
}

.btn-custom {
color: #fff ;
background-color: #031b48 ;
border-color: white ;
}
.btn-custom:hover {
background-color: #62768d ;
border-color: white ;
}

.btn-edit {
color: #031b48;
border-color: #031b48;
}

.btn-edit:hover {
color: #fff;
background-color: #031b48;
border-color: #031b48;
}
.btn-success {
background-color: #031b48;
border-color: #031b48; 
color: white; 
}

.card-header {
background-color: #031b48; 
color: white; 
}
.card-header-product {
background-color: #031b48; /* Nouvelle couleur de fond */
color: white; /* Couleur du texte si vous voulez également la changer */
}


/* Changer la couleur de texte des en-têtes de la table en blanc
.table thead th {
color: white;
}

/* Changer la couleur de fond et de texte du bouton ADD */
/* .btn-outline-primary {
background-color: #031b48; /* Couleur de fond bleu foncé */
/* border-color: #031b48; Couleur de bordure identique au fond
color: white; Couleur de texte en blanc
}  */

/* Assurez-vous de cibler le bon bouton si vous avez plusieurs boutons avec la classe .btn-outline-primary */
/* Si le bouton ADD a une classe ou un identifiant unique, utilisez-le pour une meilleure spécificité */


