@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


h1 { 
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3%;
    text-align: center;
    margin-right: 20%;
    margin-bottom: 3%;
    width: 100%;    
}

.welcome-to {
    color: #ffffff;
}

.livrili {
    color: #91a5bb; 
}
  
       

       .search{
       position: relative;
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #031b48;
       }