<div class='tout'>
  <div class='container'>
    <div class='child1'> <br/> <br/>
      <h1 class='titxx'>Our Services</h1> <br/>
      <ul>
        <li>Web design</li> <br/>
        <li>Software development</li><br/>
        <li>It Consulting</li><br/>
        <li>Repairs</li><br/>
        <li>Technical support</li><br/>
      </ul>
    </div>
    <div class='child2'> <br/> <br/>
      <h1 class='titxx'>Categories</h1>  <br/>
      <ul>
        <li> Mobile/Tablets</li> <br/>
        <li>Wearble technology</li><br/>
        <li>Software applications /productivity tools</li><br/>
        <li>Home automation and smart devices </li><br/>
      </ul>
    </div>
    <div class='child3'> <br/><br/>
      <h1 class='titxx'>contact </h1> <br/>
      <ul>
        <li><mat-icon>phone</mat-icon>+(216)52608257</li> <br/>
        <li><mat-icon>mail</mat-icon> <a href="mailto:example@example.com" id="a">Send Email</a></li>
      </ul>
    </div>
  </div>
</div>