@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: #031b48; /* Darker gradient for better contrast */
  background: -webkit-linear-gradient(to right, #031b48, #62768d);
  background: linear-gradient(to right, #031b48, #62768d);
  color: white;
  background: #031b48;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
}

.navbar .logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  transition: transform 0.5s ease;
}

.navbar .logo:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animation pour l'agrandissement et le changement de couleur */
  cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un élément cliquable */
  padding: 10px 15px; /* Ajoute un peu de padding pour mieux visualiser l'effet */
  border-radius: 5px; /* Adoucit les coins pour un look plus moderne */
  position: relative;
  padding-bottom: 5px; /* Space for the underline */

}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #a2b9dc; /* Lighter shade for underline */
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
}
.nav-item:hover::after {
  width: 100%; /* Full width on hover */
}
.material-icons.md-48 {
  font-size: 48px; /* Adjusting icon size for consistency */
  vertical-align: middle;
}

.navbar-nav .nav-item .nav-link {
  color: white; /* Définit la couleur de texte en blanc */
  transition: color 0.3s ease; /* Transition pour un changement de couleur fluide */
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #a2b9dc; /* Couleur lors du survol ou de la mise au point */
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
  }
}

