<div class="full-page-background">
  <app-spinner></app-spinner>
  <app-search></app-search>
  
 
  <div class="content-container container" style="position: relative;">
      <div class="overlay"></div>
    <div class="text-section">
      <p>Gone are the days of placing separate orders from different vendors and waiting </p>
      <p>for each one to arrive.</p>
      <p>With us, you can streamline your shopping experience and enjoy the ease of receiving everything you need in one convenient delivery.</p>
      <p>Whether you're craving items from your favorite local eateries,</p>
      <p>seeking essentials from top brands,</p>
      <p>or indulging in specialty goods, we've got you covered.</p>
    </div>
  </div>
</div>